@import "src/styles/colors";
/* td{
  vertical-align: middle;
} */
.mat-button-base {
  padding: 0px 0px !important;
}
.link {
  cursor: pointer;
}
.mat-icon-button {
  width: 25px !important;
  height: 25px !important;
}
th,td {
  text-align: center;
}
