<div>
  <input   *ngIf="properties?.framework === 'bootstrap'"
    appFilesUpload
    [accept]="properties.accept ? properties.accept : ''"
    [title]="properties.label ? properties.label : ''"
    type="text"
    aria-label="input"
    class="form-control {{ properties.class }} "
    [value]="valueText"
    [placeholder]="properties.placeholder || ''"
    [attr.disabled]="properties.disabled ? true : null"
    (blur)="onBlur()"
    readonly
  />

  <mat-form-field
    *ngIf="properties?.framework !== 'bootstrap'"
    appearance="outline"
    (changed)="onFilesChanged($event)"
    appFilesUpload
    [accept]="properties.accept ? properties.accept : ''"
    [title]="properties.label ? properties.label : ''"
  >
    <mat-label>{{ properties.label || "" }}</mat-label>
    <input
      [disabled]="properties.disabled"
      readonly
      (blur)="onBlur()"
      [value]="valueText"
      matInput
      [placeholder]="properties.placeholder || ''"
    />
  </mat-form-field>
</div>
