<!-- <div>
  <input
    *ngIf="properties?.framework === 'bootstrap'"
    type="file"
    aria-label="input"
    class="form-control {{ properties.class }} "
    [value]="properties.value"
    [placeholder]="properties.placeholder || ''"
    [attr.disabled]="properties.disabled ? true : null"
    (keyup)="onKeyup($event)"
    (blur)="onBlur()"
  />

  <mat-form-field
    appearance="outline"
    appFilesUpload
    [accept]="accept"
    [title]="placeholder"
    (changed)="onFilesChanged($event)"
  >
    <mat-label>{{ placeholder || "" }}</mat-label>
    <input
      [disabled]="disabled"
      readonly
      (blur)="onBlur()"
      [value]="valueText"
      matInput
      [placeholder]="placeholder || ''"
    />
       <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> 
  </mat-form-field>
</div>
 -->