$base: #fafafa;
$base-dark: #f3f3f3;
$base-light: #ffffff;
$on-base: #000000;

$primary: #114ec5;
$primary-dark: #0c3891;
$primary-light: #3767c7;
$on-primary: #ffffff;

/* $primary: #f44336;
$primary-dark: #b90007;
$primary-light: #ff795d;
$on-primary: #ffffff; */

$secondary: #f44336;
$secondary-dark: #b90007;
$secondary-light: #ff795d;
$on-secondary: #ffffff;

$error: #b00020;
$error-dark: #91041e;
$error-light: #cc062a;
$on-error: #ffffff;

$success: #00db75;
$success-dark: rgb(0, 146, 73);
$success-light: #44e298;
$on-success: #ffffff;
