<div
  class="form-field"
  [class.form-control_error]="properties.hasError()"
  [class.form-field_inline]="properties.inline"
>
  <label
    [class.form-control_error]="properties.hasError()"
    class="form-field__label"
    *ngIf="properties.label && properties.framework === 'bootstrap'"
  >
    {{ properties.label }}
    <span
      class="form-field__req"
      *ngIf="properties.required"
      title="Campo requerido"
      >*</span
    >
  </label>
  <div
    class="form-field__control"
    [class.form-field__control__full]="!properties.label"
  >
    <ng-content></ng-content>

    <div class="form-field__error" *ngIf="properties.hasError()">
      {{ properties.errorKey() }}
    </div>
  </div>
</div>
