<div class="app-autocomplete">
  <mat-form-field
    *ngIf="properties?.framework !== 'bootstrap'"
    [appearance]="properties.appearance ? properties.appearance : 'outline'"
  >
    <mat-label>{{ properties.label || "" }}</mat-label>
    <mat-chip-list #chipList aria-label="">
      <mat-chip *ngFor="let item of properties.optionsSelected" (removed)="remove(item)">
        {{ item.label }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        [type]="properties.chipType ? properties.chipType : 'text'"
        [disabled]="properties.disabled"
        (blur)="onBlur()"
        (keyup)="onKeyup($event)"
        (click)="openAutoComplete()"
        matInput
        [placeholder]="properties.placeholder || ''"
        [min]="properties.min"
        [max]="properties.max"
        [attr.minlength]="properties.minlength"
        [attr.maxlength]="properties.maxlength"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
        [readonly]="!properties.searchable"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
      autoSelectActiveOption="false"
    >
      <mat-option
        [ngClass]="{ active: !properties.multiple && validatecheck(item) }"
        *ngFor="let item of properties.items?.items"
        [value]="item.value"
      >
        <mat-checkbox
          *ngIf="properties.multiple"
          class="px-1"
          [checked]="validatecheck(item)"
          color="primary"
        >
        </mat-checkbox>

        {{ item.label }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
