<div class="d-flex h-100" *ngIf="items[0]">
  <div>
    <div class="list h-100">
      <div
        class="card app-list-card-item"
        *ngFor="let item of items"
        (click)="openEvent(item)"
        [ngClass]="{ active: activeRoute(item.id) }"
      >
        <div class="col-12">
          <div class="row mb-3">
            <div class="col-5 fl-al-item-center">
              <img
                *ngIf="item?.img?.url"
                src="{{ item?.img?.url }}"
                class="{{ item?.img?.class }} card-img-top"
                alt=" {{ item?.title?.name }}"
              />
            </div>
            <div class="card-body col-7">
              <h2 class="card-title app-title" title="{{ item?.title?.name }}">
                {{ item?.title?.name }}
              </h2>
              <p class="card-text app-subtitle" title="{{ item?.subtitle?.name }}">
                {{ item?.subtitle?.name }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fl-al-item-center w-100 item-detail fl-col p-50 content">
    <div class="w-60">
        <div class="d-flex app-list-card-item-detail">
            <div class="fl-al-item-center">
              <img
                *ngIf="item?.img?.url"
                src="{{ item?.img?.url }}"
                class="{{ item?.img?.class }} card-img-top"
                alt=" {{ item?.title?.name }}"
              />
            </div>
            <div class="card-body">
              <h2 class="card-title app-title" title="{{ item?.title?.name }}">
                {{ item?.title?.name }}
              </h2>
              <p class="card-text app-subtitle" title="{{ item?.subtitle?.name }}">
                {{ item?.subtitle?.name }}
              </p>
            </div>
          </div>
          <div class="description app-description">
            <p>
              {{ item?.description?.value }}
            </p>
          </div>
          <div class="buttons" >
            <app-button class="pr-10" *ngFor="let button of item?.buttons" (clickEvent)="clickButton(button)" >{{button?.title}}</app-button>
          </div>
    </div>

  </div>
</div>
