@import "src/styles/colors";
.list {
  width: 300px;
  padding: 10px;
  border-right: solid 3px #4a4644;
  overflow-y: scroll;
}
.active {
  background-color: $primary-light;
  color: $on-primary;
  a {
    color: $on-primary !important;
    text-decoration: none;
  }
}
.item-detail {
  height: fit-content;
  img {
    width: 300px;
  }
  .description {
    padding-top: 30px;
  }
}
.content {
  height: 100%;
  overflow-y: scroll;
}
h2{
  font-size: medium;
}
