<div class="d-flex justify-content-center p-4">
  <div class="w-80">
    <div class="row py-4">
      <div
        class="col-12 col-md-6 d-flex align-items-center justify-content-center"
      >
        <p class="py-4 d-flex" style="text-align: justify">
          En IPS estamos trabajando para brindar el mejor servicio a ti y a tu
          familia, por eso queremos pedirte que nos ayudes a verificar la
          siguiente información para asegurar que tu y tu familia sean
          beneficiarios de Subsidio Familiar, Chile Solidario, el Subsistema de
          Seguridades y Oportunidades (Ingreso Ético Familiar), Asignación
          Familiar o Asignación Maternal.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <img class="w-100" src="/assets/img/banner.png" alt="image" />
      </div>
    </div>
    <div class="card p-4">
      <div class="d-flex align-items-center justify-content-between">
        <h1 class="m-0 primary">Información</h1>
        <button
          (click)="editarBeneficiario()"
          mat-icon-button
          [title]="'Editar'"
          [color]="'primary'"
        >
          <app-icon mat-raised-button [properties]="view.icons.edit"></app-icon>
        </button>
      </div>
      <hr class="primary-dark" style="height: 2px; opacity: 0.7" />
      <div class="row">
        <div class="col-12 col-md-4" *ngFor="let item of datosBeneficiario()">
          <div class="py-2">
            <strong class="primary-dark">{{ item.key }}</strong>
            <hr class="primary-dark" />
            <p>{{ item.value }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 card p-4">
      <div class="d-flex align-items-center justify-content-between">
        <h1 class="m-0 primary">Metodos de pago</h1>
      </div>
      <hr class="primary-dark" style="height: 2px; opacity: 0.7" />
      <div>
        <div class="py-4">
          <app-formas-de-pago [properties]="formasDePago"></app-formas-de-pago>
        </div>
      </div>
    </div>
    <div class="mt-4 card p-4">
      <div class="d-flex align-items-center justify-content-between">
        <h1 class="m-0 primary">Cargas familiares</h1>
      </div>
      <hr class="primary-dark" style="height: 2px; opacity: 0.7" />
      <div>
        <div class="py-4">
          <app-table class="py-4" [properties]="list">
            <tr *ngFor="let item of list.data">
              <td>
                <span>{{ item["name"] }}</span>
              </td>
              <td>
                <span>{{ item["identificacion"] }}</span>
              </td>
              <td>
                <span class="d-flex justify-content-center">
                  <app-checkbox
                    (changeEvent)="checkChange($event, item)"
                    [properties]="itemCheckBox(item['marcar'])"
                  ></app-checkbox>
                </span>
              </td>
              <td *ngIf="list.actions">
                <div class="d-flex align-items-center">
                  <ng-container *ngFor="let action of item['actions']">
                    <div class="p-1" (click)="list.clickAction(item, action)">
                      <ng-container [ngSwitch]="action.type">
                        <ng-template ngSwitchCase="icon">
                          <button
                            mat-icon-button
                            [title]="action.label"
                            [color]="action.button?.color"
                          >
                            <app-icon
                              mat-raised-button
                              [properties]="
                                action.icon ? action.icon : defaultIcon
                              "
                            ></app-icon>
                          </button>
                        </ng-template>
                        <ng-template ngSwitchCase="button">
                          <app-button
                            [properties]="
                              action.button ? action.button : defaultButton
                            "
                          >
                            {{ action.label }}
                          </app-button>
                        </ng-template>
                        <ng-template ngSwitchCase="button"></ng-template>
                        <ng-template ngSwitchDefault>
                          <button
                            mat-icon-button
                            [title]="action.label"
                            [color]="action.button?.color"
                            style="width: fit-content"
                          >
                            <span
                              class="link"
                              [innerHtml]="action.label"
                            ></span>
                          </button>
                        </ng-template>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
              </td>
            </tr>
          </app-table>
        </div>
      </div>
    </div>
    <div class="p-4 d-flex align-items-center justify-content-center">
      <app-button [properties]="view.buttons.aprobar"
        >Aprobar información</app-button
      >
    </div>
  </div>
</div>
