
img{
    height: 200px !important;
    object-fit: contain;
}
.card-title{
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
.card-text{
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.link{
    cursor: pointer;
}

h2{
  font-size: medium;
}
