<form
  [formGroup]="properties.form"
  class="w-100 fl-al-item-center fl-col"
  (keyup.enter)="properties.submitForm()"
  #genericForm="ngForm"
  (ngSubmit)="properties.submitForm()"
  novalidate
  autocomplete="off"
>
  <div class="{{ properties.class }} fl-col input-controls">
    <div class="row">
      <ng-container
        *ngFor="let control of properties.controls"
        [ngSwitch]="control.type"
      >
        <div class="{{ control.class }} app-control">
          <app-form-field class="w-100" [properties]="control">
            <ng-template ngSwitchCase="text">
              <app-input
                [properties]="control"
                formControlName="{{ control.formControlName }}"
              ></app-input>
            </ng-template>
            <ng-template ngSwitchCase="password">
              <app-password
                [properties]="control"
                formControlName="{{ control.formControlName }}"
              ></app-password>
            </ng-template>
            <ng-template ngSwitchCase="number">
              <app-number
                [properties]="control"
                formControlName="{{ control.formControlName }}"
              ></app-number>
            </ng-template>
            <ng-template ngSwitchCase="textarea">
              <app-text-area
                [properties]="control"
                formControlName="{{ control.formControlName }}"
              >
              </app-text-area>
            </ng-template>
            <ng-template ngSwitchCase="select">
              <app-select
                [properties]="control"
                formControlName="{{ control.formControlName }}"
              >
              </app-select>
            </ng-template>
            <ng-template ngSwitchCase="date">
              <app-date
                [properties]="control"
                formControlName="{{ control.formControlName }}"
              >
              </app-date>
            </ng-template>
            <ng-template ngSwitchCase="file">
              <app-file
                [properties]="control"
                formControlName="{{ control.formControlName }}"
              >
              </app-file>
            </ng-template>
            <ng-template ngSwitchCase="checkbox">
              <app-checkbox
                class="check-form"
                [properties]="control"
                formControlName="{{ control.formControlName }}"
              >
              </app-checkbox>
            </ng-template>
            <ng-template ngSwitchCase="chips">
              <app-chips
                [properties]="control"
                formControlName="{{ control.formControlName }}"
              >
              </app-chips>
            </ng-template>
            <ng-template ngSwitchCase="autocomplete">
              <app-autocomplete
                [properties]="control"
                formControlName="{{ control.formControlName }}"
              >
              </app-autocomplete>
            </ng-template>
          </app-form-field>
        </div>
      </ng-container>
    </div>
  </div>
  <div
    class="pt-20 w-100 fl-justify-center"
    *ngIf="properties?.submit?.show || properties?.clean?.show"
  >
    <app-button
      class="pr-10"
      type="button"
      *ngIf="properties?.clean?.show"
      (click)="properties.cleanForm($event)"
      [properties]="properties.clean.basicButton()"
    >
      {{ properties?.clean?.label }}</app-button
    >
    <app-button
      class="pl-10"
      type="submit"
      *ngIf="properties?.submit?.show"
      [properties]="properties.submit.basicButton()"
      >{{ properties?.submit?.label }}</app-button
    >
  </div>
</form>
